# macOS
.DS_Store

# Local reference material (keep private/local unless intentionally versioned)
ECE-452/*.pdf
ESE-311/*.pdf

# STM32CubeIDE / CubeMX build outputs
ESE-311/Week2/RegisterManipulation/Debug/
ESE-311/Week2/RegisterManipulation/Release/
ESE-311/books/9781835460818.pdf

# build outputs
build/
*.elf
*.bin
*.hex
*.map
*.o
*.d

# language server caches
.cache/